.hcPageHeaderSimple {
    align-items: center;
}

.hcBrandLogo {
    margin-right: 1em;
}

.hcBrandLogo img {
    height: 34px;
    width: auto;
}

.hcTitle {
    padding-bottom: 4px;
}

.detailRow ul, .detailRow ol {
    margin: 0;
    padding: 0;
}

.detailRow li {
    padding: 0;
    margin: 0 0 0 1rem;
}

table.vocabSummary {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

table.vocabSummary thead {
    border-bottom: 1px solid #aaa;
}

table.vocabSummary tfoot {
    border-top: 1px solid #aaa;
}

table.vocabSummary thead, table.vocabSummary tfoot {
    background-color: #f7f8f9;
}

table.vocabSummary tbody {
    text-align: center;
}

table.vocabSummary tbody tr:nth-child(even) {
    background-color: #f7f8f9;
}

table.vocabSummary .footer-unique {
    text-align: right;
}

.hcResultListDetail {
    display: block;
    border: 1px solid #dddddd;
    padding: 10px 16px;
    margin: 0 0 20px 0;
    background-color: #f8f4f1;
}

.hcResultListDetail h2 {
    font-weight: bold;
    font-size: 1.3rem;
    color: #0A3D73;
    margin: 0;
}

.hcNoList li {
    list-style: none;
    margin-left: 0;
}

.hcToggle button {
    margin: 0 0;
    border-radius: 0;
    border-right: 0;
}

.hcToggle > *:first-child {
    border-radius: 4px 0 0 4px;
}

.hcToggle > *:last-child {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}

.justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.iconBar.inline {
    display: inline-flex;
}

.icon {
    flex-grow: 1;
    text-align: center;
    padding: 0 1em;
}

.icon:not(:last-child) {
    border-right: 1px solid #aaa;
}

.icon a {
    color: #082045;
}

.icon svg {
    margin-right: 1rem;
}

.extraBottomMargin {
    margin-bottom: 1.5rem;
}

.fitContent {
    min-width: fit-content;
}

.back {
    font-size: small;
    margin-right: 25px;
}

header .hcButton {
    background-color: #fff;
    border: none;
    color: #082045;
}

.hcButton.tabActive {
    background-color: rgba(0, 0, 0, 0.11);
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.detailLine {
    font-size: smaller;
    word-break: break-word;
}

.detailTable {
    display: table;
}

.detailRow {
    display: table-row;
    font-size: 14px;
}

.labelCell, .cell {
    display: table-cell;
    padding-bottom: 10px;
    vertical-align: top;
}

.detailRow:last-child .labelCell, .detailRow:last-child .cell {
    padding-bottom: 4px;
}

.labelCell {
    width: 180px;
    border-right: 1px solid #aaa;
    font-weight: bold;
}

.cell {
    padding-left: 20px;
}

.pill {
    display: inline;
    padding: 2px 5px;
    margin-left: 10px;
    background-color: #082045;
    border-radius: 6px;
    color: white;
    font-size: smaller;
    line-height: normal;
}

.toggle {
    display: inline-block;
    padding: 0;
    margin-right: 0.5em;
    width: 1em;
}

.vocabHeader {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    top: 0;
    background-color: #fff;
}

.vocabContentVersions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
}

.vocabContent {
    width: 100%;
}

.vocabVersions {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background-color: #f7f8f9;
    border-radius: 6px;
    border: 1px solid #ccc;
    min-width: fit-content;
}

.vocabVersionsHeader {
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
}

.vocabVersion {
    font-size: 1rem;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem;
}

.vocabVersionActive {
    font-weight: 700;
}

.vocabVersion:last-child {
    border: none;
}

.vocabVersionDate {
    font-size: 0.7rem;
}

.vocabSummary tbody th {
    font-weight: normal;
    text-align: left;
    color: #082045;
}

.vocabSummary tbody td.al-left {
    text-align: left;
}

.vocabSummary thead tr:nth-child(2) {
    font-size: small;
    font-style: italic;
}

.vocabSummary + h2 {
    margin-top: 1em;
}

.prefix {
    display: inline;
    padding: 2px 5px;
    margin-left: 10px;
    background-color: #082045;
    border-radius: 6px;
    color: white;
    font-size: smaller;
}

.review {
    margin-bottom: 1em;
    border-bottom: 1px solid #aaa;
}

.review:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.star {
    color: #cccccc;
}

.star.filled {
    color: #faaf00;
}

.review p {
    white-space: pre-wrap;
    text-align: justify;
    font-size: smaller;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: 700;
}

label.error {
    color: darkred;
}

label.error input, label.error textarea {
    border: 1px solid darkred;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 1rem;
    color: #3e3e3e;
    height: 40px;
}

.success {
    color: green;
}

.failure {
    color: darkred;
}

.DialogOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 800px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent:focus {
    outline: none;
}

.DialogTitle {
    margin: 0;
    font-weight: 700;
    color: #082045;
    font-size: 1.4rem;
}

.DialogDescription {
    margin: 1em 0;
    font-size: 15px;
    line-height: 1.5;
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #082045;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.IconButton:hover {
    background-color: #ddd;
}

.IconButton:focus {
    box-shadow: 0 0 0 2px #ddd;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
