.hcResultListDetail {
    width: initial !important;
    min-height: initial !important;
}

.back {
    font-size: small;
    margin-right: 25px;
}

.active {
    background-color: rgba(0, 0, 0, 0.11);
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.detailLine {
    word-break: break-word;
}

.detailTable {
    display: table;
}

.detailRow {
    display: table-row;
    font-size: 14px;
}

.labelCell, .cell {
    display: table-cell;
    padding-bottom: 10px;
    vertical-align: top;
}

.detailRow:last-child .labelCell, .detailRow:last-child .cell {
    padding-bottom: 4px;
}

.labelCell {
    width: 180px;
    border-right: 1px solid #aaa;
    font-weight: bold;
}

.cell {
    padding-left: 20px;
}

.review {
    margin-bottom: 1em;
    border-bottom: 1px solid #aaa;
}

.review:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.star {
    color: #cccccc;
}

.star.filled {
    color: #faaf00;
}

.review p {
    white-space: pre-wrap;
    text-align: justify;
    font-size: smaller;
}

table {
    border-collapse: collapse;
    font-size: 14px;
}

thead {
    border-bottom: 1px solid #aaa;
}

tfoot {
    border-top: 1px solid #aaa;
}

thead, tfoot {
    background-color: #f7f8f9;
}

tbody {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f7f8f9;
}

.vocabSummary tbody th {
    font-weight: normal;
    text-align: left;
    color: #082045;
}

.vocabSummary thead tr:last-child {
    font-size: small;
    font-style: italic;
}

.prefix {
    display: inline;
    padding: 2px 5px;
    margin-left: 10px;
    background-color: #082045;
    border-radius: 6px;
    color: white;
    font-size: smaller;
}